--- yaml
title: Blog Posts
layout: page
pageOrder: 2
---

block content
    ul
        for doc in getCollection('posts').toJSON()
            li
                span= doc.date.toShortDateString()
                | &raquo;
                a(href=doc.url)= doc.title
