--- yaml
layout: 'default'
title: 'Home'
---

div.twelve.columns
    div.two.columns
        ul.side-nav
    div.eight-columns.end
        for doc in getCollection('posts').toJSON()
            row.twelve.columns
                h3= doc.title
                small
                    p Posted on #{doc.date.toShortDateString()} by #{doc.author}
                if doc.summary
                    p= doc.summary
                    a.small.button(href=doc.url) View Details
                else
                    != doc.contentRendered