--- yaml
    layout: 'default'
---
div.twelve.columns
    div.two.columns
        ul.side-nav
            for doc in getCollection('posts').toJSON()
                li(class= (doc.url == document.url) ? "active" : null)
                    a(href=doc.url)= doc.title
    div.eight.columns.end
        article.post#post
            h1= document.title
            p Written on #{document.date.toShortDateString()}
            div.post-content!= content
        footer
            - if (document.relatedDocuments != undefined)
                - if (document.relatedDocuments.length > 0)
                    section(id="related")
                        h3 Related Posts
                        ul
                        for doc in document.relatedDocuments
                            li
                                span= doc.date.toShortDateString()
                                p Derp
                                a(href="#{doc.url}")= doc.title
