doctype 5
html
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width")

    != getBlock('meta').toHTML()

    title= getPreparedTitle()
    link(rel='stylesheet', href='/vendor/foundation/foundation.min.css')
    link(rel='stylesheet', href='/vendor/foundation/app.css')
    script(src="/vendor/foundation/modernizr.foundation.js")
  body
    nav.container.top-bar
        ul
            - var pageIsHome = (document.url == '/index.html')
            if pageIsHome == true
                li.name.active
                    h1
                        a(href="/") LBlog
            else
                li.name
                    h1
                        a(href="/") LBlog
            li.toggle-topbar
                a(href="#")
        section
            ul.left
                for doc in getCollection('pages').toJSON()
                    - var active = (document.url == doc.url)
                    li(typeof="sioc:Page", about="#{doc.url}", class= active ? "active" : null)
                        a(href=doc.url, property="dc:title")= doc.title 
            ul.right
                li
                    a(href="#") Log In
    container
        != content
        div.row.twelve.columns
            footer
                p(style="float:left;") &copy; Lucas Cooper
                p(style="float:right;") This website was last updated at #{site.date.toISOString()}

    script(src="/vendor/foundation/jquery.js")
    script(src="/vendor/foundation/foundation.min.js")
    script(src="/vendor/foundation/app.js")