--- yaml
    layout: 'default'
---
//extends default

div.twelve.columns
    div.two.columns
        ul.side-nav
    div.eight-columns.end
        article.page#page
            h1= document.title
            div.page-content!= content
        footer