--- yaml
    layout: 'default'
---
//extends default

block content
    article.post#post
        h1= document.title
        div.post-content= content
    footer
        - if document.relatedDocuments and document.relatedDocuments.length
            section#relatedDocuments
                h3 Related Posts
                ul
                    - for doc in document.relatedDocuments
                        li
                            span= doc.date.toShortDateString()
                            p &raquo
                            a(href=doc.url)= doc.title
